body
{
    height: 100vh;
    overflow: hidden;
}

* { box-sizing: border-box }

body
{
    background-color: #111111;
}

header
{
    background-color: #2a2a2a;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Comic Sans MS, serif;
    color: snow;
}

.container
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu
{
    font-family: Comic Sans MS, serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu button
{
    display: block;
    background-color: #d2d2d2;
    padding: 3px 10px;
    cursor: pointer;
    transition: .3s;
    border: none;
}

.menu button :hover
{
    transform: scale(1.2, 1.1);
}
